.movieInfo {
    background-color: rgba(0, 0, 0, 0.644);
}
.breadcrumb {
    margin-bottom: 0 !important;
    background-color: #fff !important;    
}

.breadcrumb a {
    text-decoration: none !important;
}

.movieInfoContainer {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    min-height: 100vh;
}



